*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}
.container{
    max-width: 1260px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    justify-content: center;
}
.ulanish{
    width: 645px;
    height: 315px;
}
.ulanish .imgs{
    position: relative;
}
.ulanish .imgs img{
    width: 120px;
    height: 115px;
    margin: 10px 263px;
}
.ulanish .imgs .aylana{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #F84646;
    position: absolute;
    top: 15px;
    left: 310px;
    z-index: -1;
}
.ulanish .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.ulanish button{
    padding: 20px 40px;
    background-color: #f53838;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    border-radius: 8px;
    border: none;
    margin-left: 220px;
    margin-top: 30px;
    cursor: pointer;
}